# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.spec

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Python packaging
*.egg-info/
*.egg
.eggs/

# Environment variables
.env

# Temporary files
*.tmp
*.bak
